# Configuration de la base de données
DATABASE_URL="mysql://username:password@localhost:3306/fonaredd_db"

# Clé secrète pour JWT
JWT_SECRET="votre_cle_secrete_jwt_tres_longue_et_complexe"

# Configuration Next.js
NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="votre_cle_secrete_nextauth"

# Configuration PWA
NODE_ENV="development"
